@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@{
    ViewData["Title"] = "Listado de Choferes";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
}

<section class="content-header">
    <div class="row">

        <div class="col-md-12">
            <form id="frmBuscar">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <b>Listado de Choferes</b> <small> Filtros Disponibles</small>

                        <div class="card-tools">
                            <a class="btn btn-tool" title="Nuevo" asp-action="Create">NUEVO</a>
                            <a class="btn btn-tool" title="Ir al Inicio" asp-area="" asp-controller="Home" asp-action="Index">  <i class="nav-icon fas fa-home"></i></a>
                            <a class="btn btn-tool" title="Atras" onclick="history.go(-1); return false;" href="#">  <i class="fas fa-arrow-alt-circle-left"></i></a>

                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="form-group col-md-6 col-xs-12">
                                <label>Apellido Y Nombre</label>
                                <input type="text" id="txtRazonSocial" class="form-control" autofocus placeholder="Buscar por Apellido Y Nombre" />
                            </div>
                            <div class="form-group col-md-2 col-xs-12">
                                <label>DNI</label>
                                <input type="text" id="txtDNI" class="form-control" placeholder="Buscar por DNI" />
                            </div>
                            <div class="form-group col-md-3 col-xs-12">
                                <label>Estado</label>
                                <select id="cboEstadoId" class="form-control" asp-items="ViewBag.listEstados">
                                    <option value="-1"> (Todos)</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card-footer text-right col-12">
                                <button id="btnBuscar" type="submit" class="btn btn-outline-success btn-sm"><i class="fas fa-search"></i> Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div class="col-md-12 col-xs-12">
            <div class="card card-gray card-outline shadow">
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover table-sm text-nowrap w-100" id="tabla"></table>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">

    $(document).ready(function () {

        let botonBuscar = $('#btnBuscar');

        createTable();

        $("#frmBuscar").submit(function (e) {
            e.preventDefault();
            disableButtonOnClick(botonBuscar);

            //De esta forma no hace postback, funciona con el boton nada mas.
            $("#tabla").DataTable().clear();
            $("#tabla").DataTable().draw();
        })

        function createTable() {
            $("#tabla").DataTable({
                destroy: true,
                processing: true,
                serverSide: true,
                deferRender: true,
                responsive: true,
                paging: true,
                lengthChange: true,
                searching: false,
                ordering: true,
                info: true,
                lengthMenu: [7, 20, 50, 100, 200, 500, 1000],
                dom: 'Blfrtip',
                buttons: [
                    {
                        extend: 'collection',
                        autoClose: 'true',
                        text: '',
                        tag: 'span',
                        buttons: [
                            { extend: 'excel', text: 'Excel', filename: 'Export_' + '@Html.Raw(ViewData["Title"])' },
                            { extend: 'pdf', text: 'PDF', filename: 'Export_' + "'" + '@Html.Raw(ViewData["Title"])' },
                            { extend: 'colvis', text: 'Columnas Ver / Ocultar' }
                        ]
                    }
                ],

                ajax: {
                    url: '@Url.Action("GetIndex")',
                    type: "POST",
                    datatype: "json",
                    headers: {
                        '@tokenSet.HeaderName': '@tokenSet.RequestToken'
                    },
                    data: function (d) {

                        var filtro = [{ key: 'razonSocial', value: $('#txtRazonSocial').val() },
                        { key: 'dni', value: $('#txtDNI').val() },
                        { key: 'estadoId', value: $('#cboEstadoId').val() },
                        ];

                        d.param = JSON.stringify(filtro);
                    },
                    dataSrc: function (resp) {
                        enabledButtonOnClick(botonBuscar);
                        return resp.data;
                    },
                    error: function handleAjaxError(xhr, textStatus, error) {
                        enabledButtonOnClick(botonBuscar);
                        $(".dataTables_processing").hide();
                    }
                },

                columns: [
                    { data: "apellidoNombre", title: "Apellido y Nombre", name: "nombre", defaultContent: "" },
                    { data: "dni", title: "DNI", name: "dni", defaultContent: "" },
                    { data: "legajo", title: "Legajo", name: "legajo", defaultContent: "" },
                    { data: "telefono", title: "Telefono", name: "telefono", defaultContent: "" },
                    { data: "estado", title: "Estado", name: "estado", defaultContent: "" },
                    { data: "id", width: 2, orderable: false,
                         render: function (data, row) {
                            var hrefEdit = '@Url.Content("~/Choferes/Edit/")' + data;
                            var icoEdit =  '<a href="' + hrefEdit + '" title="Modificar"><i class="far fa-edit text-success"></i></a>';
                            return icoEdit;
                        }
                    }
                ],

                createdRow: function (row, data) {
                    if (data.estadoColor !== '') {
                        $(row.cells).each(function () {
                            var color = "'" + data.estadoColor + "'";
                            $(this).css("color", color);
                        });
                    }
                },
                language: {
                    url: '@Url.Content("~/plugins/datatables/idioma.json")'
                }
            })
        }
    });

</script>
