@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@model Tracker.DTOs.ParametricoDTO
@{
    ViewData["Title"] = "Listado de Parametricos";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
}

<section class="content-header">
    <div class="row">
        <div class="col-md-12">
            <form id="frmBuscar">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <b>Listado de Parámetros </b> <small> Filtros Disponibles</small>

                        <div class="card-tools">
                            <a class="btn btn-tool" title="Nuevo" asp-action="Create">NUEVO</a>
                            <a class="btn btn-tool" title="Ir al Inicio" asp-area="" asp-controller="Home" asp-action="Index">  <i class="nav-icon fas fa-home"></i></a>
                            <a class="btn btn-tool" title="Atras" onclick="history.go(-1); return false;" href="#">  <i class="fas fa-arrow-alt-circle-left"></i></a>

                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="form-group col-md-6 col-xs-12">
                                <label>Descripcion</label>
                                <input type="text" id="txtParam" class="form-control" autofocus />
                            </div>
                            <div class="form-group col-md-4">
                                <label>Clave</label>
                                <select id="cboParametricosHeaderId" class="form-control" asp-items="ViewBag.IdTablaLookup">
                                    <option value=""> (Todos)</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" card-footer text-right col-12">
                                <button id="btnBuscar" type="submit" class="btn btn-outline-success btn-sm"><i class="fas fa-search"></i> Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-12 col-xs-12">
            <div class="card card-gray card-outline shadow">
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover table-sm text-nowrap w-100" id="tabla"></table>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">


    $(document).ready(function () {

        let botonBuscar = $('#btnBuscar');

        createTable();

        $("#frmBuscar").submit(function (e) {
            e.preventDefault();
            disableButtonOnClick(botonBuscar);

            //De esta forma no hace postback, funciona con el boton nada mas.
            $("#tabla").DataTable().clear();
            $("#tabla").DataTable().draw();

        })


        function createTable() {

            $("#tabla").DataTable({
                destroy: true,
                processing: true,
                serverSide: true,
                deferRender: true,
                responsive: true,
                paging: true,
                lengthChange: true,
                searching: false,
                ordering: true,
                info: true,

                lengthMenu: [7, 20, 50, 100, 200, 500, 1000],
                dom: 'Blfrtip',
                buttons: [
                    {
                        extend: 'collection',
                        autoClose: 'true',
                        text: '',
                        tag: 'span',
                        buttons: [

                            { extend: 'excel', text: 'Excel', filename: 'Export_' + '@Html.Raw(ViewData["Title"])' },
                            { extend: 'pdf', text: 'PDF', filename: 'Export_' + "'" + '@Html.Raw(ViewData["Title"])' },
                            { extend: 'colvis', text: 'Columnas Ver / Ocultar' }
                        ]
                    }
                ],

                ajax: {
                    url: '@Url.Action("GetIndex")',
                    type: "POST",
                    datatype: "json",
                    headers: {
                        '@tokenSet.HeaderName': '@tokenSet.RequestToken'
                    },
                    data: function (d) {

                        var filtro = [{ key: 'descripcion', value: $('#txtParam').val() },
                        { key: 'parametricosHeaderId', value: $('#cboParametricosHeaderId').val() },
                        ];

                        d.param = JSON.stringify(filtro);
                    },

                     dataSrc: function (resp) {
                        enabledButtonOnClick(botonBuscar);
                        return resp.data;
                    },
                    error: function handleAjaxError(xhr, textStatus, error) {
                        enabledButtonOnClick(botonBuscar);
                        $(".dataTables_processing").hide();
                    }
                },

                columns: [
                    { data: "codigo", title: "Codigo", name: "codigo", defaultContent: "" },
                    { data: "descripcion", title: "Descripcion", name: "descripcion", defaultContent: "" },
                    { data: "orden", title: "Orden", name: "orden", defaultContent: "" },
                    {
                        data: "id", width: 2, orderable: false,
                        render: function (data, row) {
                            var href = '@Url.Content("~/Parametrico/Edit/")' + data;
                            return '<a href="' + href + '" title="Modificar"><i class="far fa-edit text-success"></i></a>';
                        }
                    }
                ],
                createdRow: function (row, data) {
                    if (data.baja == true) {
                        $(row).addClass('bg-danger disabled color-palette');
                    }
                },
                language: {
                    url: '@Url.Content("~/plugins/datatables/idioma.json")'
                }
            })
        }


        $("#txtParam").change(function () {
            if ($("#txtParam").val() === '')
                $('#txtParam').val('');
        });


        $("#txtParam").autocomplete({
            select: function (event, ui) {
                $('#txtParam').val(ui.item.codigo);

            },
            delay: 500,
            minLength: 3,
            source: function (request, response) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AutoComplete")',
                    dataType: "json",
                    headers: {
                        '@tokenSet.HeaderName': '@tokenSet.RequestToken'
                    },
                    data: { 'term': $("#txtParam").val() },
                    success: function (data) {
                        var obj = data.d || data;

                        response($.map(obj, function (item) {
                            return {
                                label: item.label,
                                value: item.label,
                                id: item.id,
                            };
                        }));

                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }
        });

    });

</script>
